.section-card {
  border: 1px solid lightgray;
  flex-direction: column;
  display: flex;
  align-items: center;
  overflow: hidden;
  .card-img {
    position: relative;
    overflow: hidden;
    height: 350px;
    img {
      height: 80%;
      width: 100%;
      transition: all 0.5s;
    }
    .favorite {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding: 10px;
      border: 2px solid lightgray;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.4;
      svg {
        color: lightgray;
      }
      &:hover {
        background-color: crimson;
        border: none;
        svg {
          position: relative;
          color: white;
        }
      }
      &:active {
        transform: scale(0.9);
      }
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  .info {
    width: 100%;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 24px 0;
    gap: 10px;
    .info-name {
      font-size: 19px;
      font-weight: 600;
      color: rgba($color: #000000, $alpha: 0.9);
    }
    .info-price {
      font-weight: 500;
      color: #a07a61;
      span {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #a07a61;
          bottom: 2px;
        }
      }
    }
    .info-btn {
      position: relative;
      padding: 6px 12px;
      color: black;
      background-color: transparent;
      cursor: pointer;
      overflow: hidden;
      border: 1px solid gray;
      transition: color 1s;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        width: 200%;
        height: 100%;
        background-color: #a07a61;
        transform: scaleX(0) skewX(35deg);
        transform-origin: left;
        z-index: -1;
        transition: transform 1s;
      }
      &:hover {
        color: white;
      }
      &:hover::before {
        transform: scaleX(1) skewX(35deg);
      }
    }
    .btn-cart {
      display: flex;
      align-items: center;
      padding: 6px 12px;
      gap: 4px;
      background-color: transparent;
      font-weight: 600;
      font-size: 18px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  &:hover {
    .favorite {
      opacity: 1;
    }
  }
}
